gemini_docs
.env*
.router_state.json
__pycache__/
*.pyc

zsh/.zshenv

karabiner/.config/karabiner/automatic_backups
karabiner/.config/karabiner/assets

xvpn/bin
xvpn/target
xvpn/xray.json
xvpn/xvpn.conf
xvpn/modezsh/.zshenv
